@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-position-x: right 0.5rem;
    background-position-y: center;
    background-repeat: no-repeat;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 1.5em 1.5em;
    print-color-adjust: exact;
    padding-right: 2.5rem;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-UltraLight.otf');
    font-weight: 100;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-UltraLightItalic.otf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-Thin.otf');
    font-weight: 200;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-ThinItalic.otf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-Italic.otf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-SemiBold.otf');
    font-weight: 500;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-SemiBoldItalic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-Bold.otf');
    font-weight: 600;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-BoldItalic.otf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-Heavy.otf');
    font-weight: 700;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-HeavyItalic.otf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-Black.otf');
    font-weight: 800;
}

@font-face {
    font-family: Aileron;
    src: url('/fonts/aileron/Aileron-BlackItalic.otf');
    font-weight: 800;
    font-style: italic;
}